In [1]:
import os
import pandas as pd

In [2]:
df_detectseq = pd.read_csv('./bed/DetectSeq_vs_DigenomeSeq_base-on_DetectSeq_HEK4.csv', header=None, sep='\t')
# df_detectseq
df_digenomeseq = pd.read_csv('./bed/DetectSeq_vs_DigenomeSeq_base-on_DigenomeSeq_HEK4.csv', header=None, sep='\t')
df_digenomeseq

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr20,32761950,32761972,DigenomeSeq-HEK4-on-target,19.26,+,chr20,32761950,32761972,HEK239T-site4-on-target,115,+
1,chr6,160096843,160096865,DigenomeSeq-HEK4-off-target-1,15.45,-,chr6,160096843,160096865,HEK239T-site4-Detect-off-target-15,88,-
2,chr6,168386442,168386463,DigenomeSeq-HEK4-off-target-2,15.37,+,chr6,168386442,168386464,HEK239T-site4-Detect-off-target-27,59,+
3,chr19,32891169,32891191,DigenomeSeq-HEK4-off-target-3,13.83,-,chr19,32891169,32891191,HEK239T-site4-Detect-off-target-20,88,-
4,chr20,61505481,61505503,DigenomeSeq-HEK4-off-target-4,12.71,+,chr20,61505481,61505503,HEK239T-site4-Detect-off-target-83,70,+
...,...,...,...,...,...,...,...,...,...,...,...,...
62,chr5,139904456,139904478,DigenomeSeq-HEK4-off-target-62,0.12,-,.,-1,-1,.,-1,.
63,chr8,118214890,118214912,DigenomeSeq-HEK4-off-target-63,0.12,+,.,-1,-1,.,-1,.
64,chr14,95294906,95294928,DigenomeSeq-HEK4-off-target-64,0.11,-,.,-1,-1,.,-1,.
65,chr3,23610022,23610044,DigenomeSeq-HEK4-off-target-65,0.11,+,.,-1,-1,.,-1,.
66,chr12,9134803,9134825,DigenomeSeq-HEK4-off-target-66,0.10,+,.,-1,-1,.,-1,.

In [3]:
df_detectseq_only = df_detectseq[df_detectseq.iloc[:,7] == -1][[0,1,2]].copy()
df_detectseq_sharewith_digenomeseq = df_detectseq[df_detectseq.iloc[:,7] != -1][[0,1,2]].copy()
df_digenomeseq_only = df_digenomeseq[df_digenomeseq.iloc[:,7] == -1][[0,1,2]].copy()
df_digenomeseq_sharewith_detectseq = df_digenomeseq[df_digenomeseq.iloc[:,7] != -1][[0,1,2]].copy()

In [4]:
df_detectseq_only.head()

        0          1          2
1    chr9  108855989  108856011
3    chr1  109487049  109487071
7    chr1   55352435   55352457
9    chr5    1230221    1230243
10  chr11   72632823   72632845

In [5]:
df_digenomeseq_only.head()

        0          1          2
5    chr5  141853271  141853293
9   chr15   71394583   71394605
12   chr8   20996983   20997005
19   chr2    6821108    6821130
22   chr9    5020574    5020596

In [6]:
df_detectseq_sharewith_digenomeseq.shape

(32, 3)

In [7]:
df_digenomeseq_sharewith_detectseq.shape

(32, 3)

In [8]:
# 所以用其中一个即可！
df_share = df_detectseq_sharewith_digenomeseq

In [9]:
df_detectseq_only.to_csv('./bed/DetectSeq_vs_DigenomeSeq_Final-DetectSeqOnly_HEK4.bed', header=False, index=False, sep='\t')
df_digenomeseq_only.to_csv('./bed/DetectSeq_vs_DigenomeSeq_Final-DigenomeSeqOnly_HEK4.bed', header=False, index=False, sep='\t')
df_share.to_csv('./bed/DetectSeq_vs_DigenomeSeq_Final-DetectSeqShareWithDigenomeSeq_HEK4.bed', header=False, index=False, sep='\t')